/* Cancella lo sfondo di default di Waybar */
window#waybar {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

/* Forzo la creazione delle tre isole separate con i margini */
.modules-left, .modules-center, .modules-right {
    background-color: rgba(26, 27, 38, 0.85);
    border: 2px solid rgba(137, 180, 250, 0.5);
    border-radius: 14px;
    padding: 3px 12px;
}

/* Font e testi generali */
* {
    font-family: "Cantarell", sans-serif;
    font-weight: bold;
    font-size: 13px;
}

/* Colore del titolo della finestra */
#window {
    color: #b4befe;
    margin-left: 8px;
}

/* Colore dei workspace */
#workspaces button {
    color: #74c7ec;
}
#workspaces button.active {
    color: #ca9ee6;
}

/* Colore dell'orologio centrale */
#clock {
    color: #cdd6f4;
}

/* Colore dei widget a destra */
#network {
    color: #a6e3a1; 
    margin-right: 10px;
}

#battery {
    color: #f9e2af; 
    margin-right: 10px;
}

#pulseaudio {
    color: #f5c2e7; 
    margin-right: 10px;
}

#tray {
    color: #cdd6f4;
}
